/*color*/
$primary-colour: #fff;
$secondary-colour: #A03235;
$tertiary-colour: #717171;
$gray-colour: #3c3c3c;
$black-colour: #565656;
$cream-colour: #f0efea ;
$dark_colour: #361F13;
$feel_colour: #BF8242;
$nav_colour: #606c7a;
$btn_colour: #184f6e;
$Silver: #CCCCCC;
/*font size*/